.navigation{
    display: flex;
    background: rgb(0, 0, 0);
    position: fixed;
    z-index: 169;
    top: 0;
    left: 0;
    right: 0;
    height: 69px;
    align-items: center;
    justify-content: center;
    border: orange solid 2px;
}

.logoImg{
    width: 150px;
    border-radius: 100px; 
    position: fixed;    
    z-index: 100;
    top: 3px;
    left: 4px;
}

.logoImg:hover{
    cursor: pointer;
}

.links{
    width: 700px;
    display: flex;
    justify-content: space-around;
    font-weight: bold;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
}

.linkText{
    color: white;
    transition: 250ms ease-out;
}

.linkText:hover{
    text-decoration: underline orange 3px;
    cursor: pointer;
}